.header-wrapper {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0px 0px 0px;
    border-bottom: 1px solid #DBDBDB;
    z-index: 2;
}

.header-wrapper-box-shadow {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0px 0px 0px;
    box-shadow:
        0 1px 0 rgba(12, 13, 14, 0.1),
        0 1px 6px rgba(60, 65, 70, 0.1);
}

.chats-body .header,
.chats-body .status-bar {
    padding: 0px 20px;
}

/* .chat-screen { */
.chats-body {
    padding: 10px 0px;
    padding-top: 110px;
    min-height: 110vh;
    background-color: #FCFCFC;
    /* background-image: url("../Img/chatBG.png"); */
    /* background-color: #FAFAFA; */
    /* margin-top: 100px; */
}

.chat__write--container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chat__icon-left {
    position: absolute;
    left: 10px;
}

.chat__icon-right {
    position: absolute;
    right: 10px;
}

@keyframes float {
    0% {
        box-shadow:
            0 13px 27px -5px rgba(50, 50, 93, .25),
            0 8px 16px -8px rgba(0, 0, 0, .3),
            0 -6px 16px -6px rgba(0, 0, 0, .025);
    }

    50% {
        box-shadow:
            0 13px 27px -25px rgba(50, 50, 93, .25),
            0 8px 16px -8px rgba(0, 0, 0, .3),
            0 -6px 16px -6px rgba(0, 0, 0, .025);
    }

    100% {
        box-shadow:
            0 13px 27px -5px rgba(50, 50, 93, .25),
            0 8px 16px -8px rgba(0, 0, 0, .3),
            0 -6px 16px -6px rgba(0, 0, 0, .025);
    }
}

.chat__write {
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    padding: 20px 60px;
    margin: 0 auto;
    width: 100%;
    border: none;
    border-top: 1px solid #DBDBDB;
    font-size: 14px;
    transition: width .5s ease-in-out,
        border-radius .5s ease-in-out,
        transform .5s ease-in-out;
}

.chat__write:focus {
    outline: none;
    border: 1px solid #DBDBDB;
    width: 80%;
    transform: translateY(-90px);
    border-radius: 40px;
    /* box-shadow:
        0 13px 27px -5px rgba(50, 50, 93, .25),
        0 8px 16px -8px rgba(0, 0, 0, .3),
        0 -6px 16px -6px rgba(0, 0, 0, .025); */
    animation: float 3s linear infinite forwards;
}

.chat__icon {
    font-size: 18px;
    transition: opacity .3s ease-in-out;
}

/* sibling selector: .chat__write 다음에 있는 sibling을 선택. */
.chat__write:focus~.chat__icon {
    /* display: none; */
    opacity: 0;
}

.chat__write i {
    font-size: 22px;
}

.chat-screen .chat__messages {
    border-top: 1px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    padding-top: 30px;
}

.chat__messages .chat__timestamp {
    background-color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #DBDBDB;
    margin-bottom: 30px;
    color: rgba(1, 1, 1, 0.6);
    /* box-shadow: 0 2px 4px #DBDBDB; */
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    color: #1E1E1E;
    /* Mobile setting margin --> 10px; */
}

.incoming-message {
    margin-right: 40px;
    align-self: flex-start;
}

.sent-message {
    margin-left: 100px;
    align-self: flex-end;
}

/* @keyframes spin {
    from {
        transform: none;
    }

    to {
        transform: rotateY(1turn);
    }
} */

.incoming-message img {
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
    border: 1px solid #DBDBDB;
    /* animation: spin 1s linear infinite; */
}

.incoming-message .message__author {
    margin-bottom: 7px;
    display: block;
    font-size: 12px;
    font-weight: 600;
}

.message .message__bubble {
    background-color: #fff;
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    word-break: keep-all;
    line-height: 1.428;

    /* box-shadow: 
    0 13px 27px -5px rgba(50, 50, 93, .25), 
    0 8px 16px -8px rgba(0, 0, 0, .3), 
    0 -6px 16px -6px rgba(0, 0, 0, .025); */
}

.incoming-message .message__bubble {
    border-top-left-radius: 0px;
    border: 1px solid #DBDBDB;
    /* background-color: #E9E6E9; */
}

.sent-message .message__bubble {
    border-top-right-radius: 0px;
    background-color: rgba(255, 238, 51, 0.99);
    /* background-color: #58C4F9; */
}

@keyframes incomingAnim {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.incoming-message {
    animation: incomingAnim .5s ease-out forwards;
}

@keyframes sentAnim {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.sent-message {
    animation: sentAnim .5s ease-out forwards;
}